# Dependencies (HUGE files, we don't upload these)
node_modules/

# Environment variables (SECRET KEYS, never upload these!)
.env.local
.env.*.local

# Build files (these get generated when we deploy)
dist/
dist-ssr/
*.local
